# Terraform state files
*.tfstate
*.tfstate.*
*.tfstate.backup
.terraform/
.terraform/*
.terraform.lock.hcl

# Arquivos de variáveis com valores sensíveis
*.tfvars

# Credenciais
credentials.json
*.pem
*.key

# Python cache
__pycache__/
*.pyc

# Logs
crash.log
*.log
airflow/logs/*

# Diretório de credenciais
aws_credentials/

# Evitar comitar credenciais
.env
*.key
*.pem

# Outros arquivos temporários
__pycache__/
*.pyc