# Terraform state files
*.tfstate
*.tfstate.backup
.terraform/
.terraform.*
tfplan

# Arquivos de variáveis com valores sensíveis
*.tfvars

# Credenciais
credentials.json
*.pem
*.key

# Python cache
__pycache__/
*.pyc

# Logs
*.log

# Outros arquivos específicos do projeto

